body {
    background: url("../images/wallpaper.jpg") no-repeat center center fixed;
    background-size: cover;
}

.flexcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

.mainContent {
    /* font-family: 'Ubuntu Condensed', sans-serif; */
    font-family: 'Alegreya Sans SC', sans-serif;
    background-color: rgb(194, 159, 159);
    color: silver;
    min-height: 540px;
    width: 60%;
    margin-top: 60px;
    /* margin: 0 auto; */
    /* position: absolute; */
    top: 61px;
    /* left: 380px; */
    border: 2px solid;
    border-radius: 25px;
}

.mainHeader {
    text-align: center;
    /* font-weight: bold; */
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-top: 5px;
    color: rgb(34, 92, 116);
    margin-bottom: 20px;
    border-bottom: 2px solid #cee0e6;
    display: none;
}

.eachQues {
    color: rgba(226, 217, 217, 0.87);
    /* font-weight: bold; */
    font-size: 27px;
    font-weight: bold;
    padding-left: 10px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    line-height: 85%;
}

.ansOption {
    width: 80%;
    text-align: center;
    color: rgb(87, 99, 110);
    margin: 0 auto;
    margin-left: 10%;
    margin-bottom: 15px;
    font-size: 20px;
    /* font-weight: bold; */
    border: 2px solid;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(116, 159, 177);
}

button:hover {
    color: white;
    background-color: rgba(17, 31, 151, 0.404);
}

.msgDiv {
    text-align: center;
    padding: 20px;
    font-size: 60px;
    font-weight: bold;
    font-style: italic;
    color: rgb(197, 67, 91);
}

h2 {
    margin-top: 30px;
    margin-bottom: 40px;
    color: rgb(9, 106, 119);
    text-align: center;
    font-weight: bold;
}

#timerArea {
    text-align: center;
    padding: 20px;
}

#restartBtn,
#startBtn {
    width: 30%;
    text-align: center;
    color: white;
    margin: 0 auto;
    margin-left: 35%;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: bold;
    border: 2px solid;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(9, 106, 119);
}

#restartBtn {
    display: none;
}

h3 {
    font-size: 25px;
    color: white;
    text-align: center;
    margin: 30px 30px 40px 30px;
}